<div class='container'>

  <div class='jumbotron text-center'>

    <h1>Create Your Burger</h1>

    <form action='/' method='POST' class='form-inline'>
      <input name='name' type='text' class='form-control input-lg' placeholder='Burger Name...'></input>
      <input type='submit' class='btn btn-primary btn-lg'></input>
    </form>

  </div>

  <div class='col-md-6 col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'><h2 class='panel-title'>Fresh Burgers</h2></div>
      <div class='panel-body'>
        <ul class='list-group'>

          {{#each burger_data}} 
          {{#unless this.devoured}}

          <li class='list-group-item'>

            {{this.id}}
            {{this.burger_name}}

            <form action='/burgers/update?_method=PUT' method='POST' class='form-inline'>
              <input type='hidden' name='burger_id' value='{{this.id}}'>
              <button type='submit' class='btn btn-sm btn-primary'>Eat It!</button>
            </form>

          </li>

          {{/unless}} 
          {{/each}}

        </ul>
      </div>
    </div>  
  </div>

  <div class='col-md-6 col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h2 class='panel-title'>Devoured Burgers</h2>
      </div>
      <div class='panel-body'>
        <ul class='list-group'>

          {{#each burger_data}} 
          {{#if this.devoured}}

          <li class='list-group-item'>

            {{this.burger_name}}

          </li>

          {{/if}} 
          {{/each}}

        </ul>
      </div>
    </div>
  </div>
</div>